/* natural box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main > .container {
  padding: 100px 15px 0 !important;
}

img {
  display: block;
  max-width: 75%;
  height: auto;
}
  