{% extends "base.html" %}
{% block title %}View Classes{% endblock %}

{% block content %}
</br>
</br>
</br>
</br>
</br>

<h1>Good Vibes Yoga Classes</h1>
</br>
</br>
</br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <b>Name</b>
    </div>
    <div class="col-sm">
      <b>Date</b>
    </div>
    <div class="col-sm">
      <b>Duration</b>
    </div>
    </div>
</div>
</br>

    
{% for yoga_class in classes %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="{{url_for('view_classes',class_id = classes.index(yoga_class))}}">{{ yoga_class.name }}</a>
    </div>
    <div class="col-sm">
      {{ yoga_class.date }}
    </div>
    <div class="col-sm">
      {{ yoga_class.duration }}
    </div>
  </div>
</div>

        
    
       <p>
         
         
       </p>
      
{% endfor %}
<a class="btn btn-primary btn-lg" href="/classes/create" role="button">Add a class</a>

    </div>
</div>
{% endblock %}