{% extends "base.html" %}

{% block title %}Class Form {% endblock %}
{% if class_id is defined %}
{% set yoga_class = yoga_class %}
{% else %}
{% set yoga_class = {name:" ",type: " ", level: " ",date: " ", duration: " ", trainer:" ", dscription: " "} %}
{% endif %}
{% block content %}

</br>
</br>
</br>
</br>

</br>
    <!-- Form info titles and submissons -->
    <form method="post" name="classes/create">
    <div class="container justify-center-content">
        <div>
            <div class="row">
                <div class="col">
                    <label for="name"><b>Name</b></label>
                </div>
                <div class="col-10">
                    <input type="text" value="{{ yoga_class['name'] }}" id="name" name="name">
                </div>
            </div>
        </div> 
    </br>   
        <div>
            <div class="row">
                <div class="col">
                    <label for="type"><b>Type</b></label>
                </div>
                <div class="col-10">
                    <input type="text" value="{{ yoga_class['type'] }}" id="type" name="type">
                </div>
            </div>
        </div>  
    </br>
        <div>
            <div class="row">
                <div class="col">
                    <label for="level"><b>Level</b></label>
                </div>
                <div class="col-10">
                    <select value="{{ yoga_class['level'] }}" id="level" name="level">
                        <option selected>Class Level</option>
                        <option selected>Beginner</option>
                        <option selected>Intermediate</option>
                        <option selected>Advanced</option>
                    </select>
                </div>
            </div> 
        </br>
        <div>
            <div class="row">
                <div class="col">
                    <label for="date"><b>Date</b> <p><i>*(dd/mm/yy)*</i></p></label>
                </div>
                <div class="col-10">
                    <input type="text" value="{{ yoga_class['date'] }}" id="date" name="date">
                </div>
            </div>
        </div>
    </br> 
        <div>
            <div class="row">
                <div class="col">
                    <label for="duration"><b>Duration</b></label>
                </div>
                <div class="col-10">
                    <input type="text" value="{{ yoga_class['duration']}}" id="duration" name="duration">
                </div> 
            </div>
        </div>
    </br>
        <div>
            <div class="row">
                <div class="col">
                    <label for="trainer"><b>Trainer</b></label>
                </div>
                <div class="col-10">
                    <input type="text" value="{{ yoga_class['trainer']}}" id="trainer" name="trainer">
                </div> 
            </div>
        </div>
    </br>
        <div>
            <div class="row">
                <div class="col">
                    <label for="description"><b>Description</b></label>
                </div>
                <div class="col-10">
                    <input type="text" value="{{ yoga_class['description']}}" id="description" name="description">
                </div>
            </div>
        </br>
        </div>
        <!-- Submit and reset buttons -->
        <button type="submit" value="Submit">Submit</button>
        <button type="reset" value="reset">Reset</button>
        

    </div>
    </form>
{% endblock %}
