<!-- Individual Class Page -->
{% extends "base.html" %}

{% block title %}About {{yoga_class['name']}}{% endblock %}

{% block content %}
</br>
</br>
</br>
</br>
<!-- Inormation type and information ex: Name: Sunrise Stretch -->
<div class="container justify-center-content">
    <div class="row">
      <div class="col">
        <b>Name:</b> 
      </div>
      <div class="col-10">
        {{yoga_class['name']}} 
      </div>
    </div>
    <div class="row">
        <div class="col">
          <b>Type:</b> 
        </div>
        <div class="col-10">
          {{yoga_class['type']}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Level:</b> 
        </div>
        <div class="col-10">
          {{yoga_class['level']}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Date:</b> 
        </div>
        <div class="col-10">
          {{yoga_class['date']}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Duration:</b> 
        </div>
        <div class="col-10">
          {{yoga_class['duration']}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Trainer:</b> 
        </div>
        <div class="col-10">
          {{yoga_class['trainer']}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Description:</b> 
        </div>
        <div class="col-10">
          {{yoga_class['description']}} 
        </div>
      </div>
</div>
</br>
</br>
<!-- Button for edit (goes to edit form page) and delete(goes nowhere) -->
<div class="d-flex justify-content-center">
<a class="btn btn-primary btn-lg" href="{{url_for('edit_class',class_id=class_id)}}" role="button">Edit Class</a>
<p> <t></t></p><a class="btn btn-danger btn-lg" href="" role="button">Delete Class</a>
</div>
{% endblock %}