{% extends "base.html" %}
{% block title %}View Classes{% endblock %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
<div class="d-flex justify-content-center">
<h1>Good Vibes Yoga Classes</h1>
</div>
</br>
</br>
</br>
<div class="container">
  <div class="row justify-center-content">
    <div class="col-2"></div>
    
    <div class="col justify-center-content">
      <b>Name</b>
    </div>
    <div class="col justify-center-content">
      <b>Date</b>
    </div>
    <div class="col justify-center-content">
      <b>Duration</b>
    </div>
    </div>
</div>
</br>

    
{% for yoga_class in classes %}
<div class="container">
  <div class="row justify-center-content">
    <div class="col-2"></div>
    <div class="col justify-center-content">
      <a href="{{url_for('view_classes',class_id = classes.index(yoga_class))}}">{{ yoga_class.name }}</a>
    </div>
    <div class="col justify-center-content">
      {{ yoga_class.date }}
    </div>
    <div class="col justify-center-content">
      {{ yoga_class.duration }}
    </div>
  </div>
</div>


      
{% endfor %}
</br>
</br>
</br>
<div class="d-flex justify-content-center">
<a class="btn btn-primary btn-lg" href="{{url_for('add_class')}}" role="button">Add a class</a>
</div>
</div>
</div>
{% endblock %}