{% extends "base.html" %}
{% block title %}Good Vibes Yoga{% endblock %}

{% block content %}
<h1>Good Vibes Yoga</h1>
<div class="container d-block mx-auto my-5">
    <div class="row">

    <div class="col-xs-12 col-sm-6 col-lg-4 col-xlg-3">
        <!-- <h2>Good Vibes Yoga</h2> -->

       <figure>
           <img class="img-fluid d-block mx-auto my-5" src="static/images/yoga_pic.jpg" alt="Yoga logo">
           
       </figure>
       <p>
           <h2>About us</h2>
           We are a yoga studio located on the Moon that looks to offer the Moon commuinity with all types of yoga.
       </p>
       </div>
       <a class="btn btn-primary btn-lg" href="/classes" role="button">Go to classes</a>
    </div>
</div>
{% endblock %}